* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(images/background.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

/*HEADER*/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2em 4em;
    max-width: 100%;
}

div.left-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

img.logo {
    width: 3em;
    height: 3em;
    cursor: pointer;
}

div.right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

div.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

button.login {
    background-color: white;
    color: black;
    padding: 1em 2em;
    border: 1px solid lightgray;
    border-radius: 2em;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

button.login:hover {
    background-color: black;
    color: white;
    box-shadow: 1px 2px 3px 5px lightgray;
}

button.login:active {
    box-shadow: none;
}

button.get-started {
    background-color: black;
    color: white;
    padding: 1em 2em;
    border-radius: 2em;
    font-weight: bold;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

button.get-started:hover {
    background-color: white;
    color: black;
    box-shadow: 1px 2px 3px 5px lightgray;
}

button.get-started:active {
    box-shadow: none;
    border: 1px solid lightgray;
}

i.fa-bars {
    cursor: pointer;
    font-size: 1.5em;
}

p.mail {
    font-weight: bold;
}

/*MAIN*/

main {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h1.header {
    font-size: 2.5em;
}

p.description {
    font-weight: bold;
}

input[type=search] {
    max-width: 30em;
    border: 2px solid #ccc;
    border-radius: 2em;
    font-size: 1em;
    background-color: white;
    background-image: url('images/tele.svg');
    background-repeat: no-repeat;
    padding: 1em 3.5em;
}

button.sign-up {
    background-color: black;
    color: white;
    border: none;
    padding: 1em 3em;
    border-radius: 2em;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

button.sign-up:hover {
    background-color: white;
    color: black;
    box-shadow: 1px 2px 3px 5px lightgray;
}

button.sign-up:active {
    box-shadow: none;
    border: 1px solid lightgray;
}

div.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

/*SECTION*/

section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 3em;
}

div.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

div.bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
}

div.box {
    padding: 1em;
    max-width: 20em;
    height: 15em;
    max-height: 20em;
    border-radius: 1em;
}

div.box:hover {
    box-shadow: 1px 2px 3px 5px lightgray;
    cursor: pointer;
}

div.box:active {
    box-shadow: none;
}

div.top-box {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-bottom: 1em;
}

div.bottom-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.green-box {
    background-color: rgb(0, 255, 0);
    color: black;
}

div.black-box {
    background-color: black;
    color: white;
}

div.pink-box {
    background-color: pink;
    color: black;
}

div.yellow-box {
    background-color: yellow;
    color: black;
}

p.strategy {
    font-size: 0.6em;
    color: rgb(147, 147, 147);
}

p.money {
    font-weight: bold;
    font-size: 1.2em;
}

p.descr {
    font-size: 0.8em;
}

p.cagr {
    font-size: 0.8em;
}

p.percentage {
    font-size: 2em;
    font-weight: bold;
}

button.right-side {
    background-color: black;
    color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
}

button.white {
    background-color: white;
    color: black;
}

p.featured-plans:hover {
    cursor: pointer;
    text-decoration: underline;
}

p.explore-all:hover {
    cursor: pointer;
    text-decoration: underline;
}

footer {
    margin: 0 3em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
}

div.left-footer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

p.dot {
    font-size: 2em;
}

button.right {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 1em;
    border-radius: 2em;
    cursor: pointer;
}

button.right:hover {
    box-shadow: 1px 2px 3px 5px lightgray;
}

button.right:active {
    box-shadow: none;
}